version: '3.5'

services:
  app:
    build:
      context: .
      target: build
    container_name: 'app'
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=./credential.json
      - GO111MODULE=on
    volumes:
      - ./:/go/app
    command: realize start --run --no-config
    ports:
      - 1323:1323
  # redis:
  #   image: redis:4.0-alpine
  #   container_name: 'redis'
  #   ports:
  #     - "6379:6379"
  #   command: redis-server
